#mobile-menu {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  // padding-right: 5%;
  position: relative;
  #Header-mobile {
    width: 100%;
    flex-direction: column;
    row-gap: 30px;
    display: flex;
    align-items: center;
    .button {
      --border-right: 3px;
      --animation-color: rgb(0, 174, 255);
      background: transparent;
      border: none;
      position: relative;
      font-size: 20px;
      font-weight: bolder;
      color: #bdbdbd;
      letter-spacing: 4px;
      transform: scale(1);
      transition: all 0.2s ease;
      padding: 0;
      a {
        color: #bdbdbd;
        text-decoration: none;
        &.active {
          cursor: pointer;
          .hover-text {
            border-right: var(--border-right) solid var(--animation-color);
            width: 95%;
            filter: drop-shadow(0 0 5px var(--animation-color));
          }
        }
      }
    }
    .button.inactive .hover-text {
      border-right: var(--border-right) solid transparent;
    }

    .hover-text {
      position: absolute;
      box-sizing: border-box;
      content: attr(data-text);
      color: var(--animation-color);
      width: 0;
      inset: 0 0;
      overflow: hidden;
      transition: 0.5s;
      -webkit-text-stroke-width: 1px;
    }

    .button:hover,
    .button.button.active {
      cursor: pointer;
      .hover-text {
        border-right: var(--border-right) solid var(--animation-color);
        width: 95%;
        filter: drop-shadow(0 0 5px var(--animation-color));
      }
    }
  }
  .items-panel {
    position: absolute;
    height: 200vh;
    width: 80%;
    transform: translateX(115%);
    background: rgba(41, 41, 41, 0.7);
    backdrop-filter: blur(5px);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50vh;
    transition: transform 0.6s ease-in-out;
    &.open {
      transform: translateX(11%);
    }
  }
  .hamburguer-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    translate: -100% 0;
    .menu-line {
      width: 25px;
      overflow: hidden;
      border-bottom: 2px solid rgb(214, 214, 214);
      transition: transform 0.4s ease, width 0.5s ease, opacity 0.5s ease;
      border-radius: 30px;
      &.open {
        &.open:nth-child(1) {
          transform: rotateZ(-50deg) translateY(5px);
        }
        &.open:nth-child(2) {
          transform: rotateZ(50deg) translateY(-5px);
        }
        &.open:nth-child(3) {
          opacity: 0;
          width: 0px;
          z-index: -100;
        }
      }
    }
  }
}
