#about-container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 200px;
  overflow: hidden;

  .about-desc {
    margin: 0;
    color: #ffffff;
    transform: translateY(100%);
    position: relative;
    text-align: center;
    left: 50%;
    width: 33%;
    font-size: 22px;
    font-weight: lighter;
    letter-spacing: 3px;
    .desc-bold {
      font-weight: bold;
      font-size: 26px;
    }
  }
  .arrows1 {
    display: flex;
    width: 100%;
    .arrows {
      margin-left: 3%;
    }
  }
  .desc2 {
    display: flex;
    column-gap: 20%;
    align-items: center;
    transform: translateY(20%);
    .about-desc2 {
      margin: 0;
      color: #ffffff;
      position: relative;
      text-align: center;
      left: 10%;
      width: 40%;
      font-size: 22px;
      font-weight: lighter;
      letter-spacing: 3px;
      display: flex;
      flex-direction: column;
      .desc-line {
        z-index: 10;
        height: 3px;
        width: 30%;
        background: linear-gradient(to right, #00ffff 50%, #00b2ff);
        box-shadow: 0 2px 5px #a3fff4, 0 -2px 5px #a3fff4;
        animation: lineColor 1s linear infinite alternate;
        transform: translateX(115%) translateY(10px);
      }
    }
    .techs {
      transform: translateY(-20%) translateX(-10%);
      display: flex;
      column-gap: 50px;
      .tech {
        filter: drop-shadow(45px 50px 5px black);
        &.tech:nth-child(1) {
          margin-top: -10%;
          animation: moveTech 3s linear 1s infinite alternate;
        }
        &.tech:nth-child(2) {
          margin-left: 10%;
          animation: moveTech 4s linear 1.4s infinite alternate;
        }
        &.tech:nth-child(3) {
          margin-top: 70%;
          animation: moveTech 3s linear 1.2s infinite alternate;
        }
        &.tech:nth-child(4) {
          margin-top: -40%;
          animation: moveTech 2s linear 1.8s infinite alternate;
        }
      }
    }
  }
  .arrows2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .arrows {
      margin-right: 3%;
    }
  }
  .logical-think-cont {
    opacity: 1;
    width: 100%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    .logic-think {
      opacity: 1;
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
      margin: 0;
      // margin-bottom: 30px;
      letter-spacing: 8px;
      position: relative;
    }
  }
}

@keyframes moveTech {
  0% {
    transform: scale(1);
    filter: drop-shadow(45px 50px 5px black);
  }
  100% {
    transform: scale(0.6);
    filter: drop-shadow(10px 10px 5px black);
  }
}
