header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 10000;
  background-color: #202020;
  box-shadow: 0 2px 10px #181818;
  min-height: 60px;
  transition: padding 0.2s ease, background-color 0.2s ease;
  .go-home {
    cursor: none;
    text-decoration: none;
    .header-name {
      margin: 0;
      overflow: hidden;
      height: 60px;
      font-size: 32px;
      color: white;
      text-shadow: 0 5px 3px #101010;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  #Header {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 5%;
    .button {
      --border-right: 3px;
      --animation-color: rgb(0, 174, 255);
      background: transparent;
      border: none;
      position: relative;
      font-size: 20px;
      font-weight: bolder;
      letter-spacing: 4px;
      transform: scale(1);
      transition: all 0.2s ease;
      padding: 0;
      a {
        cursor: none;
        color: #bdbdbd;
        text-decoration: none;
        &.active {
          .hover-text {
            border-right: var(--border-right) solid var(--animation-color);
            width: 95%;
            filter: drop-shadow(0 0 5px var(--animation-color));
          }
        }
      }
    }
    .button.inactive .hover-text {
      border-right: var(--border-right) solid transparent;
    }

    .hover-text {
      position: absolute;
      color: var(--animation-color);
      width: 0%;
      inset: 0 0;
      overflow: hidden;
      transition: 0.5s;
      -webkit-text-stroke-width: 1px;
    }

    .button:hover,
    .button.button.active {
      .hover-text {
        border-right: var(--border-right) solid var(--animation-color);
        width: 95%;
        filter: drop-shadow(0 0 5px var(--animation-color));
      }
    }
  }
}

@media screen and (max-width: 900px) {
  header {
    background: transparent;
    box-shadow: none;
    padding: 0;
  }
}
