/* InteractiveObject.css */
#line {
  z-index: 10;
  position: absolute;
  width: 100vw;
  height: 2px;
  top: 28%;
  background: linear-gradient(to right, #00ffff 50%, #00b2ff);
  box-shadow: 0 0px 5px #0085ff, 0 0 5px #00b2ff;
}
