/* InteractiveObject.css */
#line {
  z-index: 10;
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #00ffff 50%, #00b2ff);
  box-shadow: 0 2px 5px #a3fff4, 0 -2px 5px #a3fff4;
  animation: lineColor 1s linear infinite alternate;
}
@keyframes lineColor {
  0% {
    box-shadow: 0 0px 5px #0085ff, 0 0 5px #00b2ff;
  }
  50% {
    box-shadow: 0 2px 5px #00b2ff, 0 -2px 5px #0085ff;
  }
  100% {
    box-shadow: 0 4px 5px #0085ff, 0 -4px 5px #00b2ff;
  }
}
