#work-card-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  place-items: center;
  min-height: 70vh;
  height: auto;
  width: 90%;
  margin-bottom: 50px;
  .item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    box-shadow: inset 0 80px 40px -50px rgb(0, 0, 0),
      0 30px 10px -20px rgba(0, 0, 0, 0.7);
    position: relative;
    overflow: hidden;
    transition: scale 0.2s ease, background-size 0.2s ease;

    .project-title {
      margin-top: 5px;
      font-size: 20px;
      letter-spacing: 3px;
      color: white;
      font-weight: bold;
      text-align: center;
      transition: color 0.2s ease;
    }

    .project-button {
      position: absolute;
      width: 50%;
      top: 50%;
      transform: translateY(-50%);
      display: none;
      color: rgb(0, 174, 255);
      font-weight: bold;
      border: none;
      border-radius: 5px;
      box-shadow: 0 5px 5px rgba(255, 255, 255, 0.4);
      padding: 10px;
      letter-spacing: 2px;
      transition: top 0.2s ease, background-color 0.2s ease,
        box-shadow 0.2s ease, color 0.2s ease;

      &:hover {
        cursor: pointer;
        background-color: rgb(0, 174, 255);
        box-shadow: 0 5px 5px rgba(0, 174, 255, 0.4);
        color: white;
      }
    }

    .project-detail {
      width: 100%;
      min-height: 25%;
      height: auto;
      position: absolute;
      bottom: -100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-wrap: wrap;
      place-items: center;
      place-content: center;
      box-sizing: border-box;
      column-gap: 5px;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(10px);
      transition: bottom 0.2s ease;
      p {
        margin: 0;
        color: rgb(0, 174, 255);
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 1px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      backdrop-filter: blur(0px);
      border-radius: 10px;
      z-index: -1;
      transition: backdrop-filter 0.2s ease, background-color 0.2s ease;
    }

    &:hover {
      scale: 1.2;
      z-index: 100;

      .project-button {
        display: block;
      }

      .project-detail {
        bottom: 0;
      }

      &::before {
        background-color: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(5px);
      }
    }
  }
}

@media (max-width: 600px) {
  #work-card-container {
    place-items: center;
    grid-template-columns: 1fr;
  }
}
@media (min-width: 900px) {
  #work-card-container {
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
