#work-card-container {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(0.1, 0.7, 0, 1);
  height: 50vh;
  padding-top: 6%;
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .items {
    display: flex;
    gap: 0.3rem;
    perspective: calc(var(--index) * 25);
  }
  .item {
    width: calc(var(--index) * 5);
    height: calc(var(--index) * 15);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    filter: brightness(0.3);
    transition: transform 1.25s var(--transition), filter 3s var(--transition),
      width 1.25s var(--transition);
    will-change: transform, filter, rotateY, width;
    .project-title {
      color: white;
      position: absolute;
      top: -10%;
      margin: 0;
      width: 100%;
      text-align: center;
    }
    .project-enter {
      display: none;
      position: absolute;
      bottom: 15%;
      width: 50%;
      padding: 5px;
      font-weight: bold;
      letter-spacing: 1px;
      box-shadow: 0 0 5px black;
      color: white;
      background: #00b2ff;
      border: none;
      border-radius: 5px;
      transition: scale 0.3s;
      &:hover {
        cursor: pointer;
        scale: 1.1;
      }
    }
  }
  .item::before,
  .item::after {
    content: "";
    padding: auto;
    height: 100%;
    width: 20px;
    right: calc(var(--index) * -1);
  }
  .item::after {
    left: calc(var(--index) * -1);
  }
  .items .item:hover {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 10));
  }

  // Right
  .items .item:hover + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    z-index: -1;
  }
  .items .item:hover + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    z-index: -2;
  }
  .items .item:hover + * + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
    z-index: -3;
  }
  .items .item:hover + * + * + * + * {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 1)) rotateY(15deg);
    z-index: -4;
  }
  .items .item:hover + * + * + * + * + * {
    transform: translateZ(calc(var(--index) * 0.5)) rotateY(0deg);
    z-index: -4;
  }
  .items .item:hover + * + * + * + * + * + * {
    transform: translateZ(calc(var(--index) * 0.5)) rotateY(0deg);
    z-index: -4;
  }
  .items .item:hover + * + * + * + * + * + * + * {
    transform: translateZ(calc(var(--index) * 0.5)) rotateY(0deg);
    z-index: -4;
  }

  // Left
  .items .item:has(+ :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
  }
  .items .item:has(+ * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
  }
  .items .item:has(+ * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
  }
  .items .item:has(+ * + * + * + :hover) {
    filter: inherit;
    transform: translateZ(calc(var(--index) * 0.6)) rotateY(-15deg);
  }
  .items .item:active,
  .items .item:focus {
    .project-enter {
      display: block;
    }
    width: 28vw;
    filter: inherit;
    z-index: 100;
    transform: translateZ(calc(var(--index) * 10));
    margin: 0 0.45vw;
  }
}
