#work-container {
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 10%;
  width: 100%;
  overflow: hidden;

  .personal-projects {
    color: rgb(211, 211, 211);
    text-align: center;
  }
}
