footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  position: absolute;
  bottom: 0;
  padding-bottom: 10px;
  p {
    margin: 0;
    text-align: center;
  }
  .name {
    font-size: 15px;
    color: #101010;
    letter-spacing: 4px;
    transform: scale(1);
    transition: all 0.2s ease;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #101010;
  }
  .front {
    font-size: 10px;
    color: #101010;
    letter-spacing: 4px;
    transform: scale(1);
    transition: all 0.2s ease;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #101010;
  }
}
