#card-container {
  width: 400px;
  min-height: 250px;
  height: auto;
  border: 2px solid #1f1f1f;
  border-radius: 50px;
  background: #202020;
  box-shadow: 20px 20px 20px #1b1b1b, -20px -20px 20px #252525;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .logic-line {
    height: 3px;
    width: 200%;
    background: linear-gradient(to right, #00ffff 50%, #00b2ff);
    box-shadow: 0 2px 5px #a3fff4, 0 -2px 5px #a3fff4;
    animation: lineColor 1s linear infinite alternate;
    transform: translateY(50%);
    position: absolute;
  }
  .title {
    margin: 0;
    font-size: 30px;
    letter-spacing: 5px;
    color: #ffffff;
    text-align: center;
  }
  .text {
    margin: 0;
    font-size: 20px;
    letter-spacing: 5px;
    color: #ffffff;
    text-align: center;
  }
  &#card-container:nth-child(odd) {
    .logic-line {
      transform: translateY(50%) translateX(75.3%);
    }
  }
  &#card-container:nth-child(even) {
    .logic-line {
      transform: translateY(50%) translateX(-75.3%);
    }
  }
}
